body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr 3rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #181F1C;
  padding: 0px 30px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: roboto, sans-serif;
  color: white;
}

.add-book {
  justify-self: right;
  margin-right: 50px;
  font-size: 3rem;
  padding: 20px 30px;
}

.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: center;
  justify-items: center;
  overflow: scroll;
  background-color: #F8F4E3;
  gap: 30px;
  padding: 30px;
}

.card {
  --border-top: 10px;
  display: grid;
  flex-direction: column;
  justify-items: left;
  padding-left: 20px;
  align-items: center;
  height: 240px;
  width: 200px;
  background-color: #0c2219;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgb(194, 194, 194);
  border-top: var(--border-top) solid #af1616;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: white;
  transition: all 0.8s ease;
}

.card:hover {
  border-top: var(--border-top) solid #ff0000;
  background-color: #123b2a;
}

.card > p {
  margin: 0;
}

.card.read {
  border-top: var(--border-top) solid #0fe221;
  background-color: #25684b;
}

.card.read:hover {
  border-top: var(--border-top) solid #00ff15;
  background-color: #257e57;
}

.card > .read-status {
  display: flex;
  gap: 0px 15px;
}

.card > .remove-card {
  background-color: rgb(175, 11, 11);
  color: white;
  font-size: 0.5rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  justify-self: right;
  margin-right: 10px;
}
.card > .remove-card:hover {
  background-color: rgb(255, 0, 0);
}

.footer {
  background-color: #181F1C;
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  background-color: #0c2219;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  border-top: 10px solid rgb(255, 196, 0);
  border-bottom: 10px solid rgb(177, 135, 0);
  box-shadow: 5px 5px 5px -4px rgb(0, 0, 0);
  padding: 30px;
  gap: 5px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: white;
}

form > legend {
  text-align: center;
  font-size: 1.5rem
}

form > div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.form-checkbox > input{
  justify-self: left;
  margin: 0;
}

form > .form-buttons {
  display: flex;
  justify-content: center;
}

.form-buttons > * {
  font-weight: 600;
  padding: 10px 30px;
  border: 1px solid rgba(0,0,0, 30%);
  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgb(255, 255, 255);
}

.form-buttons > .submit-button {
  background-color: rgb(243, 252, 232);
}

/* .form-buttons > .cancel-button {
  background-color: red;
} */